<%- include("header") %>
<body>
    <%- include("nav") %>
    <div class="toolbar">
        <div class="btn-group float-left">
            <button class="btn btn-secondary" id="NewSlide">New Slide</button>
        </div>

        <h4 class="mx-auto"id="Title" contenteditable="true">Title</h4>
        <button class="btn btn-secondary float-right" id="Save">Save</button>

    </div>

    <div class="SideBar">

    </div>
    <script src="main.js"></script>
</body>
<%- include("footer") %>